.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_finances div:nth-child(2) {
  margin-left: 1.5rem;
}

div {
  color: yellow;
}

button {
  background-color: blue;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}
